
/* Footer */


#footer {
	background: #C6D3DA;
	margin-bottom: 2%;
	width: 100%;
}

.links {
	height: 35px;
	padding-top: 15px;
	padding-left: 0;
}

.link {
	display: inline;
	margin: 0 15px;
}

.link a {
	color: #4B5565;
	text-shadow: 1px 0px #BBB;
}

.copyright {
	color: #4B5565;
	font-size: 13px;
	margin: 0 auto;
	padding: 10px;
	text-shadow: 1px 0px #BBB;
}

.footer-centered {
	position: relative;
	left: 25%;
}