
/* Header */

.header {
	margin: 2% 1%;
	width: 98%;
}

.logo {
	background: url('../images/logo.gif') no-repeat center;
	padding: 5px;
	height: 47px;
	width: 120px;
}

/* Navigation Items (buttons and links) */

.nav-link {
	display: block;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #4B5565;
	text-decoration: none;
}


/* 'Stage' Buttons */

.stages {
	text-align: center;
}

.stage {
	display: inline-block;
	margin: 0 10px;
}

.current-stage a {
	background: url('../images/nav-button-selected.gif') no-repeat right center;
}

.button {
	background: url('../images/nav-button.png') no-repeat right center;
	cursor: pointer;
	padding: 17px 7px 15px 7px;
	text-align: center;
	width: 140px;
}

.button-2lines {
	padding: 6px 7px 6px 7px;
}

/* 'Back' and 'Next' Link Buttons */

.nav-item {
	display: inline-block;
	padding: 15px 5px;
}

.back { 
	background: url('../images/back.gif') left no-repeat;
	padding: 3px 0 3px 30px;
}

.next {
	background: url('../images/next.gif') right no-repeat;
	padding: 3px 30px 3px 0;
}
